@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');


html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}
.center{
    width: fit-content;
    margin: 2% auto;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.navigation-bar {
    width: 18%;
    /*min-height: 100%;*/
    min-height: 100vh;
    padding: 20px 0;
    text-align: center;
    background-color: #2283DD;
}

.main-content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
}

.profile-image {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 70px;
    padding: 10px;
}

.user-name {
    font-size: 20px;
    color: #fff;
}

.section {
    width: 100%;
    padding: 20px 0;
    color: #fff;
}

.section:hover {
    background-color: #91c1ee;
    cursor: pointer;
}

.section a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.section i {
    float: left;
    color: #a5cff3;
    font-size: 25px;
}

.section-bar {
    margin-top: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header span {
    font-size: 30px;
}

.header form input {
    font-size: 25px;
    -webkit-appearence: none;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: #85C525;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.header form input:hover {
    background-color: #8de011;
    cursor: pointer;
}

.header {
    padding-bottom: 30px;
    border-bottom: 1px solid #babdc1;
}

.expenses-content {
    margin-top: 30px;
    font-size: 25px;
}

.expense-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
    width: 100%;
    margin-top: 2%;
    /*border-top: 1px solid #babdc1;*/
    border-bottom: 1px solid #babdc1;
}

.title {
    margin: 5px;
}

.category {
    width: fit-content;
    margin-left: 10px;
    font-size: 15px;
    color: #a1a5aa;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*text-align: center;*/
    float: left;

}

.category i {
    color: #00cc99;
}

.new-expense-wrap {
    width: 50%;
    margin: 10% auto;
    -webkit-box-shadow: 2px 1px 14px -3px #000000;
    box-shadow: 2px 1px 14px -3px #000000;
    font-size: 20px;
    box-shadow: 2px 1px 14px -3px #000000;
}

.new-expense-wrap input, .new-expense-wrap select {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.new-expense-wrap label {
    text-transform: uppercase;
    color: #bfbfbf;
}

.form-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.form-header {
    width: 85%;
    background-color: #E8EBEE;
    align-items: center;
    color: #808080;
    text-transform: uppercase;
}

select,
input[type="text"],
input[type="date"],
input[type="number"] {
    padding: 5px;
}


.login-form {
    color: #2183DD;;
    width: fit-content;
    margin: 3% auto;
    width: 50%;
}

.login-form input[type="submit"] {
    background: rgba(33, 131, 221, .7);
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
    margin-bottom: 30px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.login-form input[type="text"], input[type="password"],
.entry-content input[type="text"],
.entry-content input[type="number"] {
    margin-bottom: 5vh;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: black;
    border-bottom: 1px solid #2183DD;
    padding: 15px 10px;
    caret-color: #2183DD;
    font-size: 20px;
    width: 100%;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.reg-header {
    background-color: #2183DD;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
}

.reg-header img {
    width: 200px;
}

.app-text {
    margin: 70px;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.intro-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin: 50px auto;
}

.intro {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #2183DD;
    width: 60%;
}

.intro-motto {
    margin: 15px 0;
    color: #606060;
    font-style: italic;
}

.login-text, .register {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #2183DD;
    width: fit-content;
    margin: 20px auto;
    font-weight: bold;
}

.error {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4d;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.wallet-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    background-color: #F4F7FA;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.money {
    color: #32b382;
    margin-top: 10px;
}

.wallet-wrap i {
    font-size: 25px;
    color: #99704A;
}

.create-new-button {
    font-size: 25px;
    -webkit-appearence: none;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: #85C525;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.space-between {
    justify-content: space-between;
}

.empty-div {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.empty-div img {
    width: 200px;
    margin: 20px 0;
}

.instructions {
    letter-spacing: 2px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    margin: 1% auto;
    color: #606060;
    text-transform: uppercase;
}

.income {
    color: #00cc99;
}

.expense {
    color: #ff3333;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    /*transform: scale(1.0);*/
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    background-color: rgba(101, 168, 231, 0.9);
}

/* INPUTS CHECKBOXES - RADIOBOXES */

.radio {
    margin: 16px 20px;
    display: block;
    cursor: pointer;
    font-size: 17px;
}
.radio input {
    display: none;
}
.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.radio input + span:not(:empty) {
    padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
    content: "";
    width: 17px;
    height: 17px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.radio input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
    transform: scale(1.04);
    background: #5D9BFB;
}
.radio input:checked + span:after {
    transform: scale(0.4);
    transition: transform 0.3s ease;
}
.radio:hover input + span:before {
    transform: scale(0.92);
}
.radio:hover input + span:after {
    transform: scale(0.74);
}
.radio:hover input:checked + span:after {
    transform: scale(0.4);
}

.section-header a{
    text-decoration: none;
}

.entry-content{
    font-size: 20px;
    width: 75%;
    margin: 10% auto;
}
.create-new-button:hover{
    cursor: pointer;
    background-color: #91d728;
}
.column label{
    font-size: 20px;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}
/* INPUTS CHECKBOXES - RADIOBOXES */