<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<div class="container">
       <div th:replace="fragments/navbar::navigation"></div>
		<div class="main-content">

			<div class="section-header">
				Dashboard
			</div>

			<div class="wallet-wrap">
				<i class="fas fa-wallet"></i>
				<div>
					<div>Total Balance</div>
					<div class="money" th:text="${user.balance}+' USD'"></div>
				</div>
			</div>

			<div class="section-header row space-between">
				Transactions
				<form th:action="@{/newTransaction}">
					<input type="submit" class="create-new-button" value="New Expense">
				</form>
			</div>

		</div>
	</div>
</body>


</html>