<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
<div class="login-page">
	<div class="reg-header">
		<h1 class="app-text">Budget</h1>
		<img src="images/icon-logo.png" >
		<h1 class="app-text">Manager</h1>
	</div>

	<div class="intro-wrap">
		<div class="login-text">Login</div>
	</div>

	<form th:action="@{/login}" class="login-form" method="post" enctype="multipart/form-data">
		Username:<br> <input type="text" name="username"><br>
		Password:<br> <input type="password" name="password"><br>
		<input type="submit" value="Submit">
		<span for="register">Don't have an account yet?</span>
		<a th:href="@{/index}" id="register">Register</a>
	</form>
</div>
</body>

</html>