<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
<div class="login-page">
    <div class="reg-header">
		<h1 class="app-text">Budget</h1>
        <img src="images/icon-logo.png" >
        <h1 class="app-text">Manager</h1>
	</div>

    <div class="intro-wrap">
        <div class="intro">Ditch the boring spreadsheets</div>
        <div class="intro-motto">Keep track of your personal expenses with BudgetManager, a simple, user-friendly tool</div>
    </div>

    <div class="intro-wrap">
        <div class="register">Register</div>
    </div>

    <form th:action="@{/registerNew}" class="login-form" method="post" enctype="multipart/form-data">
        Username:<br> <input type="text" name="username"><br>
        Password:<br> <input type="password" name="password"><br>
        <label for="file-upload" class="custom-file-upload">
            <i class="fas fa-cloud-upload"></i> Select image
        </label>
        <input id="file-upload" type="file" name="photo"/>
        <input type="submit" value="Submit">
        <span for="login">Already a user?</span>
        <a th:href="@{/login}" id="login">Login</a>
    </form>
</div>
</body>

</html>